/* whole app styles */
* {
    box-sizing: border-box;
}
  
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 35px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 0;
  background-image: url('');
  background-color:cadetblue;
}

header h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* margin: 0; */
  font-size: 36 px;
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 12px;
}

header a {
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* main styles */
main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  /* margin-top: 2%; */
  margin: 5%;
  flex-direction: column;
}

.site-section {
  display: flex;
  flex-wrap: initial;
  margin: 20px;
  
}

.section-title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-details-div {
  border-left: solid black;
  margin: 20px;
  display: flex;
}

.section-details-div p {
  margin: 20px;
  padding: 20px;
}

.section-details-div ul {
  display: flex;
  flex-wrap: wrap;
  /* justify-content:space-between; */
  list-style: none;
}

.section-details-div ul li {
  padding: 10px;
}

.project-card-holder {
  /* display: flex;
  flex-wrap: wrap; */
  border-left: solid black;
  margin: 20px;
  
}

.project-card {
  border: solid black;
  margin: 20px;
}

.project-title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#my-work {
  display: flex;
  flex-wrap: wrap;
}

  